.card{
    box-shadow: 0 0 3px 2px #1c1c1c;
}
.card-body{
    text-align: center;
  
}
#nomeCitta{
   font-size: 1.4rem;
   letter-spacing: 0.1rem;

}
#temp{
    font-size: 2.5rem;
    font-weight: lighter;
}
#umidita{
    font-weight: lighter; 
}
table td{
    font-weight: bold;
}